body{
    background: rgb(51, 143, 225);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 20px;
    padding: 10px;
    width: 30rem;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.38);
}
@media (max-width: 600px){
    section{
        width: 90%;
    }
}

.res{
    text-align: center;
}
img{
    border-radius: 100%;
    width: 100%;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
} 
